* {
    box-sizing: border-box;
}

body {
    background: rgb(178, 166, 166);
    font-family: "Kedebideri", sans-serif;
}

main {
    width: 700px;
    margin: 50px auto;

    .mensaje {
        margin-bottom: 40px;

        h1 {
            font-size: 33px;
            margin-bottom: 12px;
        }
    }

    .formulario {
        width: 100%;
        background: rgb(246, 243, 243);
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgb(47, 44, 44) 0px 2px 8px 0px;

        .grupo {
            margin-bottom: 20px;
        }

        input,
        textarea,
        button {
            font-family: "Kedebideri", sans-serif;
            font-size: 16px;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ede5e5;
            border-radius: 8px;

            &:hover {
                border: 1px solid transparent;
                outline: 2px solid rgb(234, 171, 234);
            }

            &:focus {
                outline: 2px solid rgb(236, 44, 236);
            }
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 14px;
        }

        .radio {
            display: inline-block;
            background: rgb(218, 234, 240);
            padding: 10px;
            border-radius: 5px;
            margin-right: 8px;
            cursor: pointer;

            input {
                width: auto;
            }

            &:focus {
                outline: none;
            }

            &:checked+span {
                color: rgb(180, 134, 65);
            }

            &:hover {
                input {
                    outline: none;
                }
            }

        }
        textarea{
            height: 200px;
            min-height: 200px;
            max-height:300px ;
            resize: vertical;
            min-width: 100%;
            max-height: 100%;
        }
        button{
            display: inline-block;
            background: #694ae2;
            border: none;
            border-radius: 5px;
            padding: 5px 20px;
        }


    }
}