.input{
    padding: 10px;
    margin: 12px;
    border: 2px solid #c2c2c2 ;
    border-radius:5px ;

    &::placeholder{
        color: #4963e4;
        opacity: 0.7;
    }

    &:hover{
        border: 2px solid #4760da;
    }
    &:focus{
        outline: 3px solid #cdf351;
        border: 2px solid transparent;
    }
    &:disabled{
        background: #f0eeee;
    }
}

button{
    display: inline-block;
    padding: 12px;
    &:disabled{
        opacity: 0.5;
    }
    &[type='submit']{
        background:green ;
        color: rgb(251, 247, 247);
        border: none;
        border-radius: 5px;
        cursor:pointer;
    }
}
