*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(81, 73, 73);
    font-family: 'REM',sans-serif;
    color: #fff;
}

.contenedor{
    width: 1000px;
    margin: 50px auto;/*Margen 50 px arriba/abajo*/
    text-align: center;
    .titulo{
        margin-bottom: 17px;
    }
    .galeria{
        a{
            color: aqua;
            text-decoration: none;
        }
        figure{
            width:300px;
            display: inline-block;
            margin: 15px;
            img{
                width: 75%;
                vertical-align: top;/*alineando img hacia arriba*/
                border-radius: 8px;
                filter: grayscale(100%);
                transition: 0.3 ease all;
                padding: 5px;
                border: 1px solid transparent;
            }
            &:hover img{
                filter: grayscale(0%);
                border: 1px solid #fff;

            }
        }
    }
}