body{
    background: rgb(191, 191, 242);
}

.contenedor{
    width: 500px;
    height: 500px;
    background: rgb(238, 238, 245);
    margin: auto;/*Lo Centra*/
    padding: 20px;
    border-radius: 8px;
    border: 4px solid rgb(228, 53, 53);
    overflow-y: auto;
    overflow-x: auto;
    .parrafo{
        width: 120%;
    }
}