body{
    background:rgb(213, 198, 198);
  font-family: "Science Gothic", sans-serif;
}

.tabla{
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
    tr,
    th,
    td{
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }
    thead{
        background:rgb(82, 82, 125);
        th{
            color: aliceblue;
            padding: 10px 0;
        }
    }
    tbody{
            tr{
                background: #fff;
                
                &:nth-child(even){
                    background: #f0c6c6;
                }
                &:hover{
                    background: #f8d5fb;
                }
            }
        }
}