.caja{
    width: 200px;
    height: 200px;
    background: rgb(199, 224, 199);
    font-size: 40px;
    margin: 40px;
    color: #000;
    padding:10px;    
    border: 2px solid currentColor;
    border-radius: 15px;
    position: absolute;
    &.caja-1{
        top: 0px;
        left: 0px;
        z-index: 2;

    }
        &.caja-2{
        top: 100px;
        left: 100px;
        z-index: 100;

    }
        &.caja-3{
        top: 200px;
        left: 200px;
        z-index: 0;

    }
}