*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: "Kedebideri", sans-serif;
  background: rgb(132, 132, 112);
}

.caja{
    /*border: 1px solid blue;*/
    border-radius: 3px;
    padding: 20px;
    color: #ca581a;
    font-size: 35px;
    background: rgb(180, 227, 201);
}
.caja1{
        border-radius: 3px;
    padding: 20px;
    color: #ca581a;
    font-size: 35px;
    background: rgb(180, 227, 201);
}



.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    border: 4px solid #1f1e1d;
    padding: 40px;
    display: flex;
    gap: 40px;
}
.basis1{
    .caja1{
        flex-grow:1 ;
    }
}

.basis{
    .caja{
        flex-basis: 150px;
    }

    .especial{
        flex-basis: 250px;
    }
}

    .grow{
        .caja{
            flex-grow: 1;
        }
        .especial{
            flex-grow: 3;
        }
    }

.basis{
    .caja{
        flex-basis: 400px;
        flex-grow: 1;
    }
    .especial{
        flex-shrink: 5;
    }
}

.order{
    .uno{
        order: 4;
    }
    .dos{
        order:3;
    }
    .tres{
        order:2;
    }
    .cuatro{
        order:1;
    }
}

.align-self{
    height: 700px;
    align-items: start;

    .uno{
        align-self: stretch;
    }
    .dos{
        align-self: start;
    }
    .tres{
        align-self: center;
    }
    .cuatro{
        align-self: end;
    }
}
