*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: "Kedebideri", sans-serif;
  background: rgb(132, 132, 112);
}

.caja{
    /*border: 1px solid blue;*/
    border-radius: 3px;
    padding: 20px;
    color: #ca581a;
    font-size: 35px;
    background: rgb(180, 227, 201);
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    border: 4px solid #1f1e1d;
    padding: 40px;
    display: flex;
    gap: 20px 30px;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    flex-wrap: wrap;
    /*flex-wrap: wrap-reverse;*/

}