:root{
    /*Base size keytab*/
    --tecla-base:60px;
    --gap:5px;
    /*Tamaño de teclas especiales*/
    --anchoSmallKey:45px;
    --anchoBackspace:100px;
    --anchoTab:80px;
    --anchoBloqMayus:90px;
    --anchoShiftLeft:76.5px;
    --anchoShiftRight:134px;
    --anchoEspacio:375px;
    --anchoCTRL:85px;
    --anchoWindow:70px;
    --anchoAlt:70px;
    --anchoAltGr:70px;
    --anchoMenu:70px;
}


.tecla.anchoSmallKey{
    width: var(--anchoSmallKey);
}

.tecla.anchoTab{
    width: var(--anchoTab);
}

.tecla.anchoBackspace{
    width: var(--anchoBackspace);
}

.tecla.anchoBloqMayus{
    width: var(--anchoBloqMayus);
}

.tecla.anchoShiftLeft{
    width: var(--anchoShiftLeft);
}

.tecla.anchoShiftRight{
    width: var(--anchoShiftRight);
}

.tecla.anchoEspacio{
    width: var(--anchoEspacio);
}

.tecla.anchoCTRL{
    width: var(--anchoCTRL);
}

.tecla.anchoWindow{
    width: var(--anchoWindow);
}

.tecla.anchoAlt{
    width: var(--anchoAlt);
}

.tecla.anchoAltGr{
    width: var(--anchoAltGr);
}

.tecla.anchoMenu{
    width: var(--anchoMenu);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noticia Text', serif;
    background: #2051ab;
    background: linear-gradient(90deg, rgba(32, 81, 171, 1) 30%, rgba(54, 105, 86, 1) 79%);

    /* Esto centra todo el contenido en la pantalla */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.titulo {
    padding: 50px;
    font-size: 50px;
    text-align: center;
}


/*el contenedor de las teclas*/
.contenedorTeclas {
    background: rgba(61, 61, 61, 1);
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.3);
}

.teclasFuncion {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin-bottom: 40px;
}

.grupo {
    display: flex;
    justify-content: center;
    gap: 5px;
}


aside {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    padding-top: 40px;
    margin-top: -140px;    
}

.grupo2 {
    display: flex;
    gap: 5px;
}

.grupo3 {
    display: grid;
    grid-template-columns: repeat(3, 60px); 
    gap: 5px;
}

.grupo4 {
    display: grid;
    grid-template-columns: repeat(4, 60px); 
    gap: 5px;
    width: fit-content;
}

.tecla.teclaDobleAltura{
        grid-row: span 2;
        height: 125px;
    }

.tecla.teclaCero{
    grid-column: span 2;
    width: 125px;
}



.tecla,
.teclaEspecial {
    text-decoration: none;
    color: white;
    background-color: rgb(45, 43, 43);
    border-radius: 7px;

    width: 60px;
    height: 60px;
    font-size: 20px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow:
        1px 1px 0px 0px black,
        2px 2px 0px 0px black,
        3px 3px 0px 0px black,
        4px 4px 0px 0px black;

        transform: translate(-3.5px ,-3.5px);
        &:hover{
            box-shadow: 
            1px 1px 0px 0px black,
            2px 2px 0px 0px black;
            transform: translate(0px, 0px);

        }

    &.teclaOculta {
        opacity: 0;
        pointer-events: none;

    }

}

.teclasLetras{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    width: fit-content;
    .fila{
        display: flex;
        gap: 5px;
    }
}

.contenedorSecciones{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tecla.teclaEnter {
    width: 64.5px;
    height: 125px;
    position: absolute;
    right: 0;
    top: 65px;
    z-index: 10;

    clip-path: polygon(
            0% 0%, 100% 0%,
            100% 100%, 15% 100%,
            15% 48%, 0% 48%
            );

    &:hover {
        transform: translate(0px, 0px);

    }
}