.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,300px);

    justify-items: center;
    align-items: start;
}

.especial{
    align-self: center;
}

