@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #888080;
    font-family: 'Roboto','sans-serif';
    display: flex;
    justify-content: center;
}

.contenedor-principal{
    background: #2e3d58;
    width: 90%;
    max-width: 800px;
    margin-top: 38px;
}

.grid{
    border: 1px solid black;
}

.caja{
    background: #5f5555;
    border: 1px solid black;
    padding: 40px;
    font-size: 23px;
    text-align: center;
}