.grid{
    display: grid;
    /*grid-template-columns: 100px 125px 400px;*/
   /*grid-template-columns: 1fr auto 1fr;*/
   /*grid-template-columns: 1fr 1fr;*/ 

   /*grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;*/
   grid-template-columns: auto 1fr 1fr;
   grid-template-rows: auto 1fr 1fr;

}