.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,200px);
    /*grid-auto-rows:160px;*/

    grid-auto-flow:column;/*Orden tipo columna cambia orientacion*/
    grid-auto-columns: 140px;

}