.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
    padding:20px ;
    grid-auto-flow: row;

}

.span-2{
    grid-column: span 2;
}

.span-3{
    grid-column: span 3;
}