.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 15px;
}

.especial{
    background: rgb(52, 92, 52);
    color: aliceblue;

    /*grid-column-start: 1;
    grid-column-end:-1 ;*/
    /*Opcion:*/
    grid-column: 2/4;
    
}
