*{
    background: rgb(95, 62, 45);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serif';
    display: flex;
    justify-content: center;
}

.contenedor-principal{
    background: #2e3d58;
    width: 90%;
    max-width: 800px;
    margin-top: 38px;
}

.caja{
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 22px;
}

.grid{
    border: 1px solid black;
    display: grid;
    /*grid-template-columns:repeat(6,1fr);*/
    grid-template-columns: auto repeat(4,1fr);
}