*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family: "PT Sans", sans-serif;
  background: rgb(245, 245, 248);
}

a{
  text-decoration: none;
  color: var(--zul-secundario);
  &:hover{
    text-decoration: underline;
  }
}

.boton{
  display: inline-flex;
  padding: 10px 15px;
  background: var(--zul-primario);
  transition: 0.2s ease all;
  color: #fff;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;

  .icono{
    width: 18px;
    height: 18px;

    svg{
      width: 100%;
      height: 100%;
    }
  }

  &:hover{
    text-decoration: none;
    background: var(--zul-primario-hover);
  }

}