.footer {
  color: #fff;
  background: var(--azul-secundario);
  padding: 21px;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    img {
      width: 20vw;
      max-width: 100px;
    }
  }

  .links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /*si no caben pueden bajar next line*/
    a {
      color: #fff;
    }
  }
}
