.contenedor-header{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    background: var(--zul-secundario);
    padding: 20px;
    width: auto;
    height: 70px;
    border-radius: 10px 0px 0px 0px;
    position: relative;

    img{
        height: 100%;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        background: var(--zul-secundario);
        height: 20px;
        position: absolute;
        bottom: -20px;
        left: 0;
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        border-top: 70px solid transparent;
        border-right: 70px solid transparent;
        border-bottom: 70px solid var(--zul-secundario);
        right: -69.5px;
        top: -69.5px;
    }
}

.navbar{
    display: flex;
    gap:30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    a{
        display: inline-flex;
        gap: 10px;
        align-items: center;
        font-weight: center;
        border-radius: 5px;
    }
}