.hero {
    background: #2566E3;
    background: linear-gradient(90deg, rgba(37, 102, 227, 1) 30%, rgba(31, 187, 140, 1) 80%);
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 20px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 40px;
    
    .col-1{
        display: flex;
        flex-direction: column;
        gap: 40px;

        .titulo{
            font-size: 45px;
            font-weight: 400;
            text-align: left;
            margin: 0;
        }
        .descripcion{
            font-size: 18px;
            line-height: 160%;
        }

        .botones{
            display: flex;
            gap: 20px;

            .transparente{
                background: rgb(0, 0, 0, 0.2);
                padding: 15px;
                &:hover{
                    background: rgb(0, 0, 0, 0.4);
                }
            }
            .secundario{
                background: var(--azul-secundario);
            }
        }
    }
}

